body {
  background-image: url(//www.toptal.com/designers/subtlepatterns/patterns/symphony.png);
  background-position: bottom;
  animation: 8s linear 0s infinite bp;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Raleway", sans-serif;
}

@keyframes bp {
  from {
    background-position: 198px 0;
  }

  to {
    background-position: 0 198px;
  }
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-top-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
}

::-webkit-scrollbar-thumb {
  background: grey;
  border-top-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
}

::-webkit-scrollbar-thumb:hover {
  background: grey;
}

.card-style {
  border-top-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: 25px !important;
  border-bottom-right-radius: 25px !important;
}

.wf-400 {
  width: 400px;
}

.table-scrollable {
  height: 370px;
  overflow-y: scroll;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
